@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background:#151515;
  --foreground:#d8d8d8;
}

body {
  background-color:var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}

* {
  font-family: 'Manrope', sans-serif;
}
