@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..800&family=Manrope:wght@200..800&family=Exo:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background:#151515;
  --foreground:#eeeeee;
  --font-sans: 'Manrope', sans-serif;
}

body {
  background-color:var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

* {
  font-family: var(--font-sans);
}
